#![enable(implicit_some)]
(
  address: "127.0.0.1:6600",
  password: None,
  cache_dir: Some("/tmp/rmpc/cache"),
  on_song_change: None,
  volume_step: 5,
  max_fps: 30,
  scrolloff: 0,
  wrap_navigation: false,
  enable_mouse: true,
  status_update_interval_ms: 1000,
  select_current_song_on_change: false,
  album_art: (
    method: Auto,
    max_size_px: (width: 1200, height: 1200),
    disabled_protocols: [],
    vertical_align: Center,
    horizontal_align: Center,
  ),
  keybinds: (
    global: {
      ":":       CommandMode,
      "s":       Stop,
      ",":       VolumeDown,
      ".":       VolumeUp,
      "<Tab>":   NextTab,
      "<S-Tab>": PreviousTab,
      "1":       SwitchToTab("Queue"),
      "2":       SwitchToTab("Directories"),
      "3":       SwitchToTab("Artists"),
      "4":       SwitchToTab("Albums"),
      "q":       Quit,
    },
  ),
)
